body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

.container {
    min-height: 100vh;
    background-color: rgb(47, 47, 47);
    color: white;
    margin: 0 auto;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container span {
    text-align: center;
    line-height: 2rem;
}

